<a href="https://colab.research.google.com/github/jobsiggang/2024AIClass/blob/main/%EC%99%84%EB%A3%8C1_%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5%EA%B8%B0%EC%B4%88_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%99%80_%EB%84%98%ED%8C%8C%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# numpy
## - 데이터 과학자들은 리스트 대신 넘파이를 선호한다.
## - numpy는 대용량의 배열과 행렬연산을 빠르게 수행한다.
## - 넘파이는 성능이 우수한 ndarry객체를 제공한다.
- ndarry는 C언어에 기반한 배열 구조이므로 메모리를 적게 차지 하고 속도가 빠르다
- ndarry는 배열과 배열 간에 수학적인 연산을 할 수 있다.
- ndarry는 고급 연산자와 풍부한 함수를 제공한다.

##- 배열의 각 요소는 인덱스 정수로 참조한다.(0부터 시작)
##- 넘파이에서 차원은 축 axis 라고 불린다.
##- 리스트는 요소별 대응 시키는 연산을 제공하지 않는다

In [ ]:
#리스트, 배열 ["사과", "배", "딸기"]
음식=["과일","고기","음료수"]
음식

['과일', '고기', '음료수']

In [ ]:
음식=[["사과",100],["삼겹살","갈비"],["콜라","환타"]]
음식

[['사과', 100], ['삼겹살', '갈비'], ['콜라', '환타']]

In [ ]:
음식[1][0]

'삼겹살'

In [ ]:
score=[10,30,5,60,15]
for  i in score:
  print(i)

10
30
5
60
15

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [ ]:
import numpy as np
score=[10,30,40,0,50,20,10,45,15] #리스트

np_score=np.array(score)
print(np_score)
type(np_score)

[10 30 40  0 50 20 10 45 15]

numpy.ndarray

In [ ]:
new_score=np_score*10
print(new_score)

[100 300 400   0 500 200 100 450 150]

In [ ]:
type(new_score)

numpy.ndarray

In [ ]:
print(new_score.shape)
arr=np.array([[1,2],[3,4],[5,6]])
print(arr.shape)
print(arr.ndim)
print(arr.size)
print(arr.itemsize)
print(arr.dtype)

(9,)
(3, 2)
2
6
8
int64

In [ ]:
import numpy as np

# 중간고사와 기말고사 점수 데이터
midterm_scores = [80, 75, 90, 55, 88]  # 중간고사 점수
final_scores = [35, 88, 92, 78, 90]  # 기말고사 점수

# 넘파이 배열로 변환
midterm_scores_np = np.array(midterm_scores)
final_scores_np = np.array(final_scores)

# 총점 계산
total_scores = midterm_scores_np + final_scores_np

# 평균 계산
average_scores = total_scores / 2

# 평균이 80점 이상인 점수만 추출
mask = average_scores >= 80
selected_scores = average_scores[mask]

# 결과 출력
print("평균이 80점 이상인 점수:", selected_scores)

평균이 80점 이상인 점수: [81.5 91.  89. ]

# 2차원 배열에서 특정 조건을 만족하는 행만 추출하기

In [ ]:
import numpy as np

players = [[170, 76.4],
           [183, 86.2],
           [181, 78.5],
           [176, 80.1]]

np_players = np.array(players)

print('몸무게가 80 이상인 선수 정보')
print(np_players[ np_players[:, 1] >= 80.0 ])

print('키가 180 이상인 선수 정보')
print(np_players[ np_players[:, 0] >= 180.0 ])

# 배열의 형태를 바꾸는 reshape()함수와 flatten()함수

In [ ]:
import numpy as np

# 1차원 배열 생성
arr = np.arange(1, 13)  # 1부터 12까지의 숫자가 들어있는 배열 생성
print("Original array:")
print(arr)

# 1차원 배열을 3x4 행렬로 재구성
reshaped_arr = arr.reshape(3, 4)
print("\nReshaped array:")
print(reshaped_arr)

In [ ]:
import numpy as np

# 2x3 크기의 다차원 배열 생성
arr = np.array([[1, 2, 3],
                [4, 5, 6]])

# 다차원 배열을 1차원 배열로 평탄화(flatten)
flattened_arr = arr.flatten()

print("Original array:")
print(arr)
print("\nFlattened array:")
print(flattened_arr)